#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_build:
	echo "Building conveyor with Version=$$VERSION (GOARCH=$$GOARCH)"

	# ensure package temp bin dir exists
	# mkdir -p debian/tmp/usr/bin

	# build and place binary into debian/tmp so dh_install picks it up
	GO111MODULE=on CGO_ENABLED=0 \
	  go build -ldflags "-X github.com/open-ug/conveyor/cmd/cli.Version=$$VERSION -s -w" \
	  -o conveyor

override_dh_auto_install:
	# dh_auto_install will install files from debian/tmp into package
	dh_auto_install