name: Release Conveyor (Debian Package)

on:
  release:
    types: [published]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        goarch: [amd64, arm64]

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.23.5"

      - name: Install build dependencies
        run: |
          sudo apt update
          sudo apt install -y build-essential fakeroot devscripts debhelper golang-any dh-apparmor equivs

      - name: Build .deb package
        run: |
          export VERSION=${{ github.event.release.tag_name }}
          make deb
        working-directory: ${{ github.workspace }}

      - name: Upload release assets
        uses: softprops/action-gh-release@v2
        with:
          files: |
            ../conveyor_${{ github.event.release.tag_name }}_${{ matrix.goarch }}.deb
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
